<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginpage</title>
    <link rel="stylesheet" href="/style.css">
</head>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<body>
    <div class="signup-container">
        <h2>login</h2>
        <form onsubmit="login(event)">
          
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
          </div>
          <button style="margin-bottom: 5px;" >Login</button>
          <!-- <button id="forgotpassowrdbtn">Forgot Password?</button> -->
        </form>
      <!-- <button id="forgotpasswordbtn">Forgot Password?</button> -->
        <div class="form-group">
          <a href="/">Sign Up</a>
        </div>
        <button id="forgotpasswordbtn">Forgot Password?</button>
      </div>
     
    
</body>
<script src="/login.js"></script>
</html>